Test-Command: bash -v ./debian/qualify-clang.sh
Depends: @, cmake, g++, file, dpkg-dev
# Comment the dbgsym package because of bug #917528
# dbgsym packages not being available in testing
# clang-9-dbgsym, libclang1-9-dbgsym
Restrictions: allow-stderr


Tests: cmake-test
Depends: gcc, build-essential, cmake, llvm-9-dev, libclang-common-9-dev
